<p>Por Capital</p>
<hr>

<div class="row">
  <div class="col">
    <!-- <input type="text" placeholder=" Buscar por Capital" class="form-control"> -->
    <shared-searchbox
    (onValue)="searchByCapital($event)"
    placeholder="Buscar por capital"

    >
  </shared-searchbox>
  </div>
</div>


<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
   <!--  <ul>
      <li *ngFor="let country of countries">
        {{ country.capital }} - {{ country.population }}
      </li>
    </ul> -->
  </div>

</div>
